.profile {
  display: flex;
  justify-content: center;
  margin: 60px 10px;

  .sample {
    img {
      height: 350px;
      width: auto;
    }

    img:hover {
      transform: scale(1);
    }
  }

  &__btn {
    margin: 18px 0;
    width: 100%;
  }

  &__img-container {
    position: relative;
  }

  &__like {
    position: absolute;
    right: 16px;
    top: 20px;
    z-index: 2;
  }

  &__icon-edit {
    display: block;
    margin-left: 14px;
    cursor: pointer;
  }

  &__info {
    flex: 1 1 auto;
    padding: 24px 30px;
    border-radius: 15px;
    margin-left: 20px;
    //background: #fafafa;
    //box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__name {
    &-container {
      display: flex;
    }

    display: block;
    font-family: "Red Hat Display", serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &__description {
    resize: none;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    font-family: "Red Hat Text", serif;
    font-size: 16px;
    margin-top: 20px;
  }
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;

  div > * {
    margin: 10px;
  }
}
