.idea/
.DS_Store

# frontend
frontend/node_modules
frontend/build

# backend.authrorization
backend.authorization/node_modules
backend.authorization/dist

# backend
backend/target
backend/backend.iml
