version: "3"
services:
  postgres:
    image: postgres:11.1
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_DB: "matcha"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "q1w2e3r4"
    ports:
      - "5432:5432"
    restart: always
    build:
      context: ./postgres/
      dockerfile: Dockerfile
#
#  backend:
#    image: backend
#    container_name: backend
#    ports:
#      - 8080:8080
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/matcha
#      SPRING_DATASOURCE_USERNAME: user
#      SPRING_DATASOURCE_PASSWORD: q1w2e3r4
#    restart: always
#    build:
#      context: ./backend/
#      dockerfile: Dockerfile
#    depends_on:
#      - postgres
#    build:
#      context: ./postgres/
#      dockerfile: Dockerfile
#  backend.authorization:
#    image: backend.authorization
#    container_name: backend.authorization
#    ports:
#      - 8080:8080
#    environment:
#      PG_LOGIN: postgres
#      PG_PASSWORD: postgres
#      PG_SCHEMA: selfpiano_auth
#      PG_HOST: host.docker.internal
#    restart: always
#    build:
#      context: ./backend.authorization/
#      dockerfile: Dockerfile
#    depends_on:
#      - db
#  matcha-frontend:
#    image: matcha-frontend
#    container_name: matcha-frontend
#    ports:
#      - 3000:3000
#    restart: always
#    build:
#      context: ./frontend/
#      dockerfile: Dockerfile
