version: '3'
services:
#  backend.authorization:
#    image: backend.authorization
#    container_name: backend.authorization
#    ports:
#      - 8080:8080
#    environment:
#      PG_LOGIN: postgres
#      PG_PASSWORD: postgres
#      PG_SCHEMA: matcha_auth
#      PG_HOST: host.docker.internal
#    restart: always
#    build:
#      context: ./backend.authorization/
#      dockerfile: Dockerfile
#    depends_on:
#      - db
#  mongo:
#    image: mongo
#    restart: always
#    ports:
#      - 27017:27017
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: example
#  mongo-express:
#    image: mongo-express
#    restart: always
#    ports:
#      - 8081:8081
#    environment:
#      ME_CONFIG_MONGODB_ADMINUSERNAME: root
#      ME_CONFIG_MONGODB_ADMINPASSWORD: example
#      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
#    build:
#      context: ./postgres/
#      dockerfile: Dockerfile
#  backend.authorization:
#    image: backend.authorization
#    container_name: backend.authorization
#    ports:
#      - 8080:8080
#    environment:
#      PG_LOGIN: postgres
#      PG_PASSWORD: postgres
#      PG_SCHEMA: selfpiano_auth
#      PG_HOST: host.docker.internal
#    restart: always
#    build:
#      context: ./backend.authorization/
#      dockerfile: Dockerfile
#    depends_on:
#      - db
#  matcha-frontend:
#    image: matcha-frontend
#    container_name: matcha-frontend
#    ports:
#      - 3000:3000
#    restart: always
#    build:
#      context: ./frontend/
#      dockerfile: Dockerfile
