@import './src/assets/styles/styles.scss';

.btn {
  display: block;
  height: 40px;
  min-width: 180px;
  background: $primary-color;
  color: white;
  font-weight: 500;
  border-radius: 10px;

  & .btn-primary {
    background: $primary-color;
  }

  &.center {
    margin: 0 auto;
  }
}

.btn:focus {
  outline: none;
}