@import '../../assets/styles/main.scss';

.header {
  background: white;

  &__logo:hover {
    cursor: pointer;
  }

  &__container {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    height: 60px;

    @media screen and (max-width: 1320px) {
      width: 100%;
    }

    & div:nth-child(1) {
      flex: 1 1 0;

      @media screen and (max-width: 640px) {
        flex: 0 0 20px;
      }
    }

    & div:nth-child(2) {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Red Hat Text', sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 60px;
      background: $primary-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & div:nth-child(3) {
      flex: 1 1 0;
      ul {
        height: 60px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;

        li {
          margin: 0 15px;
          a {
            padding: 0;
            text-decoration: none;
            color: $primary-color;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__msg {
    height: 45px;
    background: $primary-color;
    color: white;
    text-align: center;
    line-height: 45px;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  &__nav {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background: $block-line-break;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

.modal-login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  transition: all 0.4s ease;
  opacity: 1;
  visibility: visible;

  .card {
    transition: all 0.4s ease;
    &.abs-center {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close-btn {
    position: absolute;
    right: 18px;
    top: 24px;
    height: 40px;
    width: 40px;
    z-index: 11;
    opacity: 0.8;
    cursor: pointer;
  }

  &__close-btn:hover {
    opacity: 1;
  }

  &__close-btn:before, &__close-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 30px;
    width: 3px;
    background-color: white;
  }

  &__close-btn:before {
    transform: rotate(45deg);
  }

  &__close-btn:after {
    transform: rotate(-45deg);
  }

  &_disabled {
    opacity: 0;
    visibility: hidden;

    .card {
      &.abs-center {
        transform: translate(-50%, -50%) scale(0.4);
      }
    }
  }
}
