@import './fonts.scss';
@import './vars.scss';
@import './icons.scss';

html,
body {
  height: 100%;
  margin: 0;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: $placeholder-color;
}

button {
  transition-duration: 0.4s;
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}