$primary-color: linear-gradient(45deg, #3494E6, #EC6EAD);
$block-line-break: #DFDFDF;
$link-color: #41515A;

$placeholder-color: #A0A0A0;
$primary-msg-color: #a0a0a0;
$info-msg-color: #4fbcdd;
$error-msg-color: #ff6e6e;
$success-msg-color: #52e266;

$card-bg-color: #F8F8F8;
